<table class = "table table-bordered" style = "width: 100%">
	<% if @clubespuntos != nil %>
	<tr>
		<td colspan = 5, style = "text-align: center;">
			<% camporee = Camporee.find(@clubespuntos[0].camporee_id) %>
			<span style = "width: 100%; font-size: 24px; text-align: center"><%#= @campo.nombre %></span><br>
			<span colspan = 5, style = "width: 100%; font-size: 18px; text-align: center"><%= camporee.nombre %></span><br>
			<span colspan = 5, style = "width: 100%; font-size: 16px; text-align: center">Reporte General</span>
		</td>
		<td></td>
	</tr>
	<tr>
		<td style = "width: 7%"; text-align: right"><b>Zona</td>
		<td style = "width: 30%;"><b>Clube</td>
		<td style = "width: 30%;"><b>Iglesia</td>
		<td style = "width: 8%; text-align: right"><b>Puntuación</td>
		<td style = "width: 25%;"><b>Categoría</td>
	</tr>
		<% total_club = 0 %>
		<% @clubespuntos.each do |c| %>
			<% club = Iglesiasclube.find(c.iglesiasclube_id) %>
			<% category = getCamporeeCategory(c.camporee_id, c.total_puntos) %>
			<% style = "background-color: ##{category.color}; color: ##{category.text_color}" %>
			<tr style = '<%= style %>'>
				<td style = "width: 10%;"><%= club.zonaSigla %></td>
				<td style = "width: 25%;"><%= c.club_nombre %></td>
				<td style = "width: 33%;"><%= c.iglesia_nombre %></td>
				<td style = "width: 8%; text-align: right;"><%= c.total_puntos %></td>
				<td style = "width: 15%; text-align: left;"><%= category.nombre %></td>
			</tr>
		<% end %>
	<% end %>
</table>