<table class = "table">
  <% @club_users.each_with_index do |user, i| %>
    <% if i == 0 %>
      <tr><td colspan = "4"><b><%= "Zona #{user.usersdefault.zona_id}" %></b></td></tr>
      <tr class = "bg-dark text-light">
        <td>Nombre</td>
        <td>Usuario</td>
        <td>Pin Acceso</td>
      </tr>
    <% else %>
      <% if @club_users[i-1].usersdefault.zona_id != user.usersdefault.zona_id %>
      <tr><td colspan = "4"></td></tr>
        <tr><td colspan = "4"><b><%= "Zona #{user.usersdefault.zona_id}" %></b></td></tr>
        <tr class = "bg-dark text-light">
          <td>Nombre</td>
          <td>Usuario</td>
          <td>Pin Acceso</td>
        </tr>
      <% end %>
    <% end %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.login %></td>
      <td><%= user.plain_text_initial_password %></td>
    </tr>
  <% end %>
</table>