<%= form_tag('/camporeespuntuacionescabs', remote: true) %>	
	<%= hidden_field_tag 'elEvento', @evento %>
	<%= hidden_field_tag 'elClub', @club %>
	<%= hidden_field_tag 'edita_nuevo', @edita_nuevo %>
	<% i = 0 %>
	<% e = 0 %>
	<% if current_user.usersdefault.massive_event_register %>
		<div class = "col-6">
			<div class = "row mt-4">
				<div class = "col-2">Modo Registro</div>
				<div class = "col-4"><%= select_tag :modo_registro, options_for_select([['Normal', 1], ['Masivo', 2]]), { class: "form-control selectpicker" } %></div>
			</div>
		</div>
	<% end %>
	<div class = "col-6">
		<div class = "row mt-3">
			<div class = "col-2">Juez Evaluador</div>
			<div class = "col-4"><%= select_tag :camporee_judge_id, options_from_collection_for_select(@judges, :id, :name), { required: true, class: "form-control selectpicker", prompt: '', "data-live-search": "true" } %></div>
		</div>
	</div>
	<div class = "mt-2">
		<% @criterios_cab.each do |c| %>
			<%= hidden_field_tag 'idCab', c.id, :name=> "criterio_cabeza"+"["+"tmpcabeza"+"]"+"["+i.to_s+"]"+"camporeeseventoscriterioscab_id", :class => 'cabeza' %>
			<div class = "col-5">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3><%= c.nombre %> &nbsp&nbsp&nbsp (<%= c.total_puntos %>)</h3>
					</div>
					<div class="panel-body bg-light">
						<% criterios_det = Camporeeseventoscriteriosdet.where("camporeeseventoscriterioscab_id = #{c.id}").all %>
						<table class = "table">
							<% criterios_det.each_with_index do |d, index| %>
								<% @puntos = nil %>
								<% if @camporeespuntuacionescab != nil %>
									<% begin %>
										<% grades_details = JSON.parse(@camporeespuntuacionescab.details) %>
										<% if grades_details[index]['event_detail']['id'].to_i == d.id.to_i %>
											<% @puntos = grades_details[index]['points'] %>
										<% end %>
									<% rescue Exception => z %>
									<% end %>
								<% end %>
								<%= hidden_field_tag 'idDet', d.id, :name=> "criterio_detalles"+"["+"tmpdetalles"+"]"+"["+e.to_s+"]"+"camporeeseventoscriteriosdet_id", :class => 'detalle' %>
								<% max_points = 0 %>
								<% if d.puntos.to_i > 0 %>	
									<% max_points = d.puntos.to_i %>
								<% end %>
								<tr>
									<td><%= d.nombre %></td>						 
									<td><%= number_field_tag 'puntos', @puntos , min: 0, max: max_points, :name=> "criterio_detalles_puntos"+"["+"tmpdetallespuntos"+"]"+"["+e.to_s+"]"+"puntos", :class => 'form-control detalle details', :required => true, :placeholder=> d.puntos, step: :any, onchange: "updateGradesTotal()" %></td>
									<%= hidden_field_tag 'elCriterio', d.camporeeseventoscriterioscab_id, :name=>  "criterio_detalles_puntos"+"["+"tmpdetallespuntos"+"]"+"["+e.to_s+"]"+"criteriocabeza_id" %>
									<%= hidden_field_tag 'elCriterio', d.id, :name=>  "criterio_detalles_puntos"+"["+"tmpdetallespuntos"+"]"+"["+e.to_s+"]"+"camporeeseventoscriteriosdet_id" %>
								</tr>
								<% e += 1 %>
							<% end %>
						</table>			
					</div>
					<% i += 1%>
				</div>
			</div>
		<% end %>
		<div class = "col-5">
			<div class="panel panel-default">
				<div class="panel-body bg-light">
					<div class = "row mt-3">
						<div class = "col-8" style = "text-align: right"><h4>Total</h4></div>
						<div class = "col-4" id = "totalTd" style = "text-align: right"><h4>0</h4></div>
					</div>
				</div>
			</div>
		</div>
		<%= hidden_field_tag 'valueI', i.to_s %>
		<%= hidden_field_tag 'valueE', e.to_s %>
		<div class = "col-5">
			<div class = "row mt-3 ml-2">
				<div class = "col-1">
					<button type = "submit" class = "btn btn-success" data-disable-with="Espere...">Agregar</button>
				</div>
			</div>
		</div>
	</div>
	<script>
		function updateGradesTotal(){
			total = 0;
			details = document.getElementsByClassName("details");
			for(let i = 0; i < details.length; i++){
				try{
					detail = details[i];
					if(!isNaN(parseFloat(detail.value))){
						total += parseFloat(detail.value)
					}
				} catch(e){
					total += 0;
				}
			}
			document.getElementById("totalTd").innerHTML = `<h4>${total.toFixed(2)}</h4>`;
		}
		$($(".selectpicker").selectpicker("render"));
	</script>