<a href="/camporeespuntuacionescabs" id = "btn-return" class = "btn btn-info">Regresar</a>
<div style = "width: 100%; border: solid thin #000000">
	<% total_dets_evento = 0 %>
	<% c = @club_grades %>
		<%# if c == @club_grades[0] %>
			<div style = "border: solid thin #00000">
				<div style = "text-align: center; font-size: 25px"><%= c.conference_name %></div>
				<div style = "text-align: center; font-size: 20px">Comisión de Conquistadores</div>
				<div style = "text-align: center; font-size: 18px">Camporee de Conquistadores <%= c.camporee_name %><div>
				<div style = "text-align: center; font-size: 18px"><%= c.zone_name %></div>
				<div style = "text-align: center; font-size: 22px"><%= c.club_name %></div>
			</div>			
			<div style = "font-size: 22px; text-align: left">&nbsp&nbsp&nbsp&nbsp Detalles</div>
		<%# end %>
			<table style = "width: 100%; border: solid thin #000000">
				<tr>
					<td><b>Renglón: </td>
					<td style = "text-align: left"><%= c.event_category_name %></td>
					<td><b>Evento: </td>
					<td style = "text-align: left"><%= c.event_name %></td>
				</tr>
			</table>
		<% puntuaciones_det = JSON.parse(c.details) %>
		<% total_dets_renglon = 0 %>
		<% if puntuaciones_det != nil %>
			<% z = 0 %>
			<% puntuaciones_det.each_with_index do |d, index| %>
				<% if index == 0 or (index > 0 and puntuaciones_det[index - 1]['event_head']['id'] != d['event_head']['id'])%>
					<div style = " font-size: 22px;"><%= d['event_head']['name'] %></div>
				<% end %>
				<table style = "width: 100%; text-align: left; border: solid thin #000000">
					<tr>
						<td style = "width: 80%; font-size: 18px; text-align: left"><b><%= d['event_detail']['name'] %></td>
						<td style = "width: 10%; font-size: 18px; text-align: right"><%= d['points'].to_d %></td>
						<td style = "width: 10%"></td>
					</tr>
				</table>
				<% total_dets_evento += d['points'].to_f %>
				<% total_dets_renglon += d['points'].to_f %>
			<% end %>
		<% end %>	
		<% if puntuaciones_det.count > 0 %>			
			<table style = "width: 100%; text-align: left; border: solid thin #000000">
				<tr>
					<td style = "width: 80%; font-size: 18px; text-align: right">Total Criterio:</td>
					<td style = "width: 10%; font-size: 18px; text-align: right"><%= total_dets_renglon.to_d.to_s %></td>
					<td style = "width: 10%; text-align: right"></td>
				</tr>
			</table>
		<% end %>
	<%# end %>	
	<table style = "width: 100%; text-align: left; border: solid thin #000000">
		<tr>
			<td style = "width: 80%; font-size: 20px; text-align: right"><b>Total Evento:</td>
			<td style = "width: 10%; font-size: 20px; text-align: right"><b><%= total_dets_evento.to_d.to_s %></td>
			<td style = "width: 10%; text-align: right"></td>
		</tr>
	</table>
	<table style = "width: 100%; text-align: left; border: solid thin #000000">
		<tr>
			<td style = "width: 40%; font-size: 20px; text-align: right"><b><%= "Evaluado Por: #{c.judge_name}" %></td>
			<td style = "width: 10%; font-size: 20px; text-align: left; margin-left: 10px"></td>
			<td style = "width: 40%; font-size: 20px; text-align: right"><b><%= "Computado Por: #{c.registered_by}" %></td>
			<td style = "width: 10%; font-size: 20px; text-align: left; margin-left: 10px"></td>
		</tr>
	</table>
</div>
<style>
	@media print{
		#headerMenu{
			display: none;
		}
		#btn-return{
			display: none;
		}
	}
</style>