<ul class="nav nav-tabs">
	<li class="active"><a data-toggle="tab" href="#home"><h3>Campo</h3></a></li>
</ul>
<div class="tab-content">
	<%= form_for(@campo) do |f| %>
		<% if @campo.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(@campo.errors.count, "errore") %>: No se pudo guardar</h2>
					<ul>
						<% @campo.errors.full_messages.each do |msg| %>
							<li><%= msg %></li>
						<% end %>
					</ul>
			</div>
		<% end %>
		<br>
		<div class="form-group">
			<label for="nombre">Nombre: </label>
			<%= f.text_field :nombre, :class=> "form-control" %>
		</div>
		<div class="form-group">
			<label for="siglas">Siglas: </label>
			<%= f.text_field :siglas, :class=> "form-control" %>
		</div>
		<div class="form-group">
			<label for="pais">Pais: </label>
			<%= f.select :pais_id, "<option value = '1'>República Dominicana</option>".html_safe, :class=> "form-control" %>
		</div>
  		<button type="submit" class="btn btn-success">Submit</button>
	<% end %>
</div>