<style>
	.container { margin-top: 10px; }

	.progress-bar-vertical {
	  width: 20em;
	  min-height: 8em;
	  display: flex;
	  align-items: flex-end;
	  margin-right: 0px;
	  float: left;
	}

	.progress-bar-vertical .progress-bar {
	  width: 100%;
	  height: 0;
	  -webkit-transition: height 0.6s ease;
	  -o-transition: height 0.6s ease;
	  transition: height 0.6s ease;
	}
	
	#clickIcon : hover{
		cursor: hand;
	}
</style>

<div class="container" style="margin-top: 50px;">
	<ul class="nav nav-tabs" id="myTab" style="margin-bottom: 15px;">
		<li class="active"><a data-toggle="tab" href="#home"><h3>Archivos</h3></a></li>
	</ul>
	<div class="tab-content" style = "text-align: center;">
		<br>
		<% i = 1 %>
		<% @camporeesarchivos.each do |f| %>
			<% label = "Pendiente de Entrega" %>
			<% barClass = "progress-bar progress-bar-danger" %>
			<% barValue = "0" %>
			<% delivered = false %>	
			<% idDoc = 0 %>
			<% stylePanel = "style = background:#E60000;color:#FFFFFF;" %>
			<% @clubesarchivos.each do |c| %>
				<% if c.camporeesarchivos_id == f.id %>
					<% label = "Enviado el #{c.fecha_enviado.strftime("%d/%m/%Y")}" %>
					<% barClass = "panel" %>
					<% delivered = true %>
					<% idDoc = c.id %>
					<% stylePanel = "style = background:#45BA54;color:#FFFFFF;" %>
					<% break %>
				<% end %>
			<% end %>
			<%= mobile_device %>
			<%= is_mobile_device? %>
			
			<div class= 'panel' <%= stylePanel %> >
				<div class="panel-heading"><h4><%= f.nombre %></h4></div>
					<table class="table" style = "table-layout: fixed; border-collapse: collapse;">
						<tr>
							<td style = "width: %50; border-right: 1px solid white;">
								<h4><%= label %></h4> <br>
								<% if delivered == false %>
									Fecha Límite: <%= f.fecha_limit.strftime("%d/%m/%Y") %> a las 12:00:00 AM
								<% end %>
							</td>				
							<% if delivered == false %>
								<td style = "width: 25%" onclick = "docFunctions(1, '<%= f.id %>', '<%= f.tipo_archivo %>')"><span id = "clickIcon" class = "glyphicon glyphicon-plus gi-4x"/></td>
								<td style = "width: 25%"></td>
							<% else %>
								<td style = "width: 25%; border-right: 1px solid white;" onclick = "docFunctions(2, '<%= idDoc %>', '<%= f.tipo_archivo %>')"><span id = "clickIcon" class = "glyphicon glyphicon-eye-open gi-4x"/></td>
								<td style = "width: 25%" onclick = "docFunctions(3, '<%= idDoc %>', '<%= f.tipo_archivo %>')"><span id = "clickIcon" class = "glyphicon glyphicon-download gi-4x"/></td>
							<% end %>
						</tr>
					 </table>
			</div>
		<% end %>
	</div>
</div>
<script>
	function docFunctions(option, doc_id, tipo_doc){
		label = "";
		if(option == 1){
			window.location.href = "/clubesformularios/new?&doc_id=" + doc_id;
			
		} else{
			window.location.href = "/clubesformularios/" + doc_id + "/edit" + "?&tipo_doc=" + tipo_doc;
			label = "Uploaded ";
		}
	}
</script>