<style>	
	.clickIcon:hover {
		transform: scale(1.5); 
		-webkit-transition: all .5s;
		-moz-transition: all .5s;
		transition: all .5s;
		cursor: pointer;
	}
	.tooltip {
		position: relative;
		display: inline-block;
		border-bottom: 1px dotted black;
	}

	.tooltip .tooltiptext {
		visibility: hidden;
		width: 120px;
		background-color: black;
		color: #fff;
		text-align: center;
		border-radius: 6px;
		padding: 5px 0;

		/* Position the tooltip */
		position: absolute;
		z-index: 1;
	}

	.tooltip:hover .tooltiptext {
		visibility: visible;
	}
</style>
<div class="container" style="margin-top: 0px;">
	<ul class="nav nav-tabs" id="myTab" style="margin-bottom: 15px;">
		<li class="active"><a data-toggle="tab" href="#home"><h3>Archivos</h3></a></li>
	</ul>
	<div class="tab-content" style = "text-align: center;">
		<br>
		<% i = 1 %>
		<% @camporeesarchivos.each do |f| %>
			<% if f.id == 1 %>
				<% label = "Pendiente de Entrega" %>
				<% barClass = "progress-bar progress-bar-danger" %>
				<% barValue = "0" %>
				<% delivered = false %>	
				<% idDoc = 0 %>
				<% stylePanel = "style = background:#E60000;color:#FFFFFF;" %>
				<% @clubesarchivos.each do |c| %>
					<% if c.camporeesarchivos_id == f.id %>
						<% label = "Enviado el #{c.fecha_enviado.strftime("%d/%m/%Y")}" %>
						<% barClass = "panel" %>
						<% delivered = true %>
						<% idDoc = c.id %>
						<% stylePanel = "style = background:#45BA54;color:#FFFFFF;" %>
						<% break %>
					<% end %>
				<% end %>
			
				<div class= 'panel' <%= stylePanel %> >
					<div class="panel-heading"><h4><%= f.nombre %></h4></div>
						<table class="table" style = "table-layout: fixed; border-collapse: collapse;">
							<tr>
								<td style = "width: %50; border-right: 1px solid white;">
									<h4><%= label %></h4> <br>
									<% if delivered == false %>
										Fecha Límite: <%= f.fecha_limit.strftime("%d/%m/%Y") %> a las 12:00:00 AM
									<% end %>
								</td>				
								<% if delivered == false %>
									<td style = "width: 25%" onclick = "docFunctions(1, '<%= f.id %>', '<%= f.tipo_archivo %>')"><span style = "cursor: hand" class = "clickIcon glyphicon glyphicon-plus gi-4x" data-toggle="tooltip" title="Ingresar Formulario"></span></td>
									<td id = "clickIcon" style = "width: 25%"></td>
								<% else %>
									<td id = "clickIcon" style = "width: 25%; border-right: 1px solid white;" onclick = "docFunctions(2, '<%= idDoc %>', '<%= f.tipo_archivo %>')"><span class = "clickIcon glyphicon glyphicon-eye-open gi-4x" data-toggle="tooltip" title="Ver Formulario"></span></td>
									<td id = "clickIcon" style = "display: none; width: 25%" onclick = "docFunctions(3, '<%= idDoc %>', '<%= f.tipo_archivo %>')"><span class = "clickIcon glyphicon glyphicon-download gi-4x" ></span></td>
								<% end %>
							</tr>
						 </table>
				</div>
			<% end %>
		<% end %>
	</div>
</div>
<style>
	.container { margin-top: 10px; }

	.progress-bar-vertical {
	  width: 20em;
	  min-height: 8em;
	  display: flex;
	  align-items: flex-end;
	  margin-right: 0px;
	  float: left;
	}

	.progress-bar-vertical .progress-bar {
	  width: 100%;
	  height: 0;
	  -webkit-transition: height 0.6s ease;
	  -o-transition: height 0.6s ease;
	  transition: height 0.6s ease;
	}
</style>
<script>
	function docFunctions(option, doc_id, tipo_doc){
		label = "";
		if(option == 1){
			window.location.href = "/clubesformularios/new?&doc_id=" + doc_id;
			
		} else{
			window.location.href = "/clubesformularios/" + doc_id + "/edit" + "?&tipo_doc=" + tipo_doc;
			label = "Uploaded ";
		}
	}
</script>