<ul class="nav nav-tabs">
	<li class="active"><a data-toggle="tab" href="#home"><h3>Club</h3></a></li>
</ul>
<div class="tab-content ml-2">
	<%= form_for(@iglesiasclube) do |f| %>
		<% if @iglesiasclube.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(@iglesiasclube.errors.count, "errore") %>: No se pudo guardar</h2>
					<ul>
						<% @iglesiasclube.errors.full_messages.each do |msg| %>
							<li><%= msg %></li>
						<% end %>
					</ul>
			</div>
		<% end %>
		<br>
		<div class="form-group">
			<label for="iglesia_id">Iglesia: </label>
			<% if @iglesiasclube.new_record? %>
				<% options = option_groups_from_collection_for_select(@zonas, available_clubs_symbol(), :nombre, :id, :nombre, @iglesiasclube.iglesia_id.to_i) %>
			<% else %>
				<% options = option_groups_from_collection_for_select(@zonas, :iglesias, :nombre, :id, :nombre, @iglesiasclube.iglesia_id.to_i) %>
			<% end %>
			<%= f.select :iglesia_id, options, {}, class: "form-control selectpicker col-md-5", "data-live-search": "true", onchange: "setClubName(this)" %>
		</div>
		<div class="form-group">
			<label for="clubestipos">Club: </label>
			<% if @iglesiasclube.new_record? %>
				<%= f.select :clubestipo_id, options_from_collection_for_select(@clubestipos, 'id', 'nombre', @clubType), :class=> "form-control" %>
			<% else %>
				<%= f.select :clubestipo_id, options_from_collection_for_select(@clubestipos, 'id', 'nombre', @iglesiasclube.clubestipo_id), :class=> "form-control" %>
			<% end %>
		</div>
		<div class="form-group">
			<label for="nombre">Nombre: </label>
			<%= f.text_field :nombre, :class=> "form-control" %>
		</div>
  		<button type="submit" class="btn btn-success">Submit</button>
	<% end %>
</div>

<script>
	function setClubName(selected){
		$("#iglesiasclube_nombre").val(selected.options[selected.selectedIndex].text)
	}
	$('select[name=iglesiasclube_iglesia_id]').val(148);
	$('.selectpicker').selectpicker('render')
</script>