<%= render 'form' %>
<br>
<div class = "row col-4">
	<div class = "ml-1"><button type="button" class="btn btn-primary" onclick="window.location = '<%= new_iglesiasclube_path %>';">Nuevo</button></div>
	<div class = "ml-1"><button type="button" class="btn btn-info"    onclick="window.location = '<%= edit_iglesiasclube_path(@iglesiasclube, :donde => 'prev')%>';"><span class="glyphicon glyphicon-arrow-left"></span> Anterior</button></div>
	<div class = "ml-1"><button type="button" class="btn btn-warning" onclick="window.location = '<%= edit_iglesiasclube_path(@iglesiasclube, :donde => 'next')%>';" >Siguiente <span class="glyphicon glyphicon-arrow-right"></span></button></div>
	<div class = "ml-1"><button type="button" class="btn btn-primary" onclick="window.location = '<%= iglesiasclubes_path %>'">Indice</button></div>
	<div class = "ml-1"><%= button_to 'Delete',  @iglesiasclube, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %></div>
</div>





