<ul class="nav nav-tabs">
	<li class="active"><a data-toggle="tab" href="#home"><h3>Clubes</h3></a></li>
</ul>
<div class="tab-content">
	<button type="button" class="btn btn-primary" onclick="window.location = '<%= new_iglesiasclube_path %>'">Nuevo</button>
	<table class="table table-striped">
		<thead>
		  <tr>
			<th>#</th>
			<th>Nombre</th>
			<th>Zona ID</th>
			<th>Tipo Club</th>
			<th>Iglesia</th>
			<th>User Info</th>
		  </tr>
		</thead>
		<tbody>
			<% @iglesiasclubes.each_with_index do |c, i| %>
				<tr>
					<td><%= i + 1 %></td>
					<td><%= link_to c.nombre, edit_iglesiasclube_path(c.id) %></td>
					<td><%= c.zonaId %></td>
					<td><%= c.tipo_nombre %></td>
					<td><%= c.iglesia_nombre %></td>
					<td><%= c.accessUser %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
<script>
	function generateClubUser(btn, club_id){
		data_object = { service: 'GenerateClubUser', club_id: club_id };
		$.ajax({
			type: "GET",
			url: "/services_broker/show",
			data: data_object,
			success: (res) => {
				if(res.valid){
					$(btn).removeClass("btn-secondary");
					$(btn).addClass("btn-success");
					$(btn).html('Ver Usuario')
					alert("Usuario Generado");
				} else {
					alert(`login: ${res.user} \npassword: ${res.password}`)
				}
			}
		});
	}

	function viewUser(user, password){
		alert(`login: ${user} \npassword: ${password}`)
	}
</script>