<% if @clubespuntos != nil %>
	<% if @clubespuntos[0] != nil %>
		<table class = "table table-bordered" style = "width: 100%">
			<tr>
				<td colspan = 4, style = "text-align: center;">
					<span style = "width: 100%; font-size: 24px; text-align: center"><%= @campo.nombre %></span><br>
					<% camporee = Camporee.find(@clubespuntos[0].camporee_id) %>
					<span colspan = 4, style = "width: 100%; font-size: 18px; text-align: center"><%= camporee.nombre %></span><br>
					<span colspan = 4, style = "width: 100%; font-size: 16px; text-align: center">Detalle Resultados por Club</span>
				</td>
			</tr>
			<tr>
				<td style = "width: 25%; text-align: center"><b>Zona: </b><%= @zona.nombre %></td>
				<td style = "width: 35%; text-align: center"><b>Iglesia: </b> <%= @iglesia.nombre %></td>
				<td style = "width: 25%; text-align: center"><b>Club: </b> <%= @club.nombre %></td>
			</tr>
		</table>
		<% total_club = 0 %>
		<% total_eventos = 0 %>
		<% @clubespuntos.each do |c| %>
			<% details = JSON.parse(c['details']) %>
			<% event = Camporeesevento.find(c.event_id) %>
			<% total_eventos += 1%>
			<table class = "table table-bordered" style = "width: 100%">
				<% renglon = Camporeesrenglone.find(event.camporeesrenglone_id) %>
				<tr style = "background-color: #<%= renglon.color %>; color: #<%= renglon.text_color %>">
					<td style = "width: 25%;"><b>Renglón:</b> <%= renglon.nombre %></td>
					<td style = "width: 35%;"><b>Evento:</b> <%= event.nombre %></td>
					<td>Puntuación</td>
				</tr>
				<% puntos_evento = 0 %>
				<% details.each_with_index do |det, index| %>
					<% if index == 0 or (index > 0 and details[index - 1]['event_head']['id'] != det['event_head']['id']) %>
						<tr>
							<td colspan = "3" style = "background-color: #FFFFCC; text-align: center;"><%= det['event_head']['name'] %></td>
						</tr>
					<% end %>
					<tr>
						<td></td>
						<td><%= det['event_detail']['name'] %></td>
						<td style = "text-align: right"><%= number_to_currency(det['points'], unit: "") %></td>
						<% puntos_evento += det['points'].to_f %>
					</tr>
					<% if index == details.length - 1 or (index > 0 and details[index - 1]['event_head']['id'] != det['event_head']['id']) %>
						<tr colspan>
							<td></td>
							<td style = "text-align: right"><b>Total Criterio</td>
							<td style = "text-align: right"><b><%= number_to_currency(puntos_evento, unit: "") %></td>
						</tr>
						<% puntos_evento = 0 %>
					<% end %>
				<% end %>
				<% total_club += c.total_points.to_f %>
			</table>
			<br>
		<% end %>
		<table class = "table table-bordered" style = "width: 100%">
			<tr>
				<td style = "width: 12.5%"><b>Total Eventos:</td>
				<td style = "width: 12.5%; text-align: right;"><%= total_eventos %></td>
				<td style = "width: 12.5%"><b>Categoría: </td>
				<td style = "width: 12.5%"><%= getCamporeeCategoria(current_user.default_camporee, total_club) %></td>
				<td style = "width: 12.5%"><b>Puntuación</td>
				<td style = "width: 12.5%; text-align: right;"><%= number_to_currency(total_club, unit: "") %></td>
			</tr>
		</table>
	<% end %>
<% end %>