	<script>
		$(function() {
		$( "#tabs" ).tabs();
		});
		$(function() {
		$( "button" ).button(); 
		});
	</script>

<%= form_for(@deboxional) do |f| %>
	<% if @deboxional.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@deboxional.errors.count, "errore") %>: No se pudo guardar</h2>
				<ul>
					<% @deboxional.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
				</ul>
		</div>
	<% end %>
	<div id="tabs", class = "ui-widget-content", style = "margin-top: 15px; border: 0px;width: 80%; font-size: 14px; margin-right: 0px">
		<ul>
			<li><a href="#tabs-a">Deboxional</a></li>
		</ul>
		<div id="tabs-a">
			<table border = "0">
				<thead>
					<tr>
						<td style = "width: 120px;">Año</td>
						<% if @deboxional.new_record? %>
							<td><%= f.text_field :anio, :size => 5, :value => @anio %></td>
						<% else %>
							<td><%= f.text_field :anio, :size => 5 %></td>
						<% end %>
						<td><%= f.hidden_field :dia, :size => 5 %></td>
					</tr>
					<tr>
						<td style = "width: 120px;">Fecha</td>
						<td><%= f.text_field :fecha_dia, :size => 35 %></td>
					</tr>
					<tr>
						<td style = "width: 120px;">Título</td>
						<td><%= f.text_field :titulo, :size => 45 %></td>
					</tr>
					<tr>
						<td style = "width: 120px;">Versículo</td>
						<td><%= f.text_area :versiculo, :size => "100x3", :placeholder => 'Asegúrate que se mantenga la continuidad de la línea. Si hay varios párrafos, que existan dos líneas entre cada uno.' %></td>
					</tr>
					<tr>
						<td style = "width: 120px;">Cita</td>
						<td><%= f.text_field :cita, :size => 20 %></td>
					</tr>
					<tr>
						<td style = "width: 120px;">Cuerpo</td>
						<td><%= f.text_area :cuerpo, :size=> "100%x30%", :placeholder => 'Asegúrate que se mantenga la continuidad de la línea. Si hay varios párrafos, que existan dos líneas entre cada uno.' %></td>
					</tr>
					<tr>
						<td style = "width: 120px;">Autor</td>
						<td><%= f.text_field :autor, :size => 45 %></td>
					</tr>
				</thead>
			</table>
			<button id="button" style = "font-size: 14px;" onclick="window.location = <%= f.submit%> <%= t(:guardar) %></button>	
		</div>
	</div>
<% end %>