<div class = "nested-fields">

			<script>
			$(function() {
			$( "buttone" ).button({
			icons: {
				primary: "ui-icon-trash"
			},
			});
			});
			</script>
					
			<script>
			$(function() {
			$("div.tabsa").tabs();
			});
			</script>	
			
		<div class="tabsa", style = "width: 580px; font-size: 14px; margin-right: 0px">
		<ul>
			<li><a href="#tabsa-a">Datos Loteria</a></li>
			<li><a href="#tabsa-b">Quinielas</a></li>
			<li><a href="#tabsa-c">Pales</a></li>
			<li><a href="#tabsa-d">Tripletas</a></li>
			<li><a href="#tabsa-e">Pega 3</a></li>
			<li><a href="#tabsa-f">Tickets</a></li>
		</ul>
			<div id="tabsa-a">
				<fieldset class = "ui-widget-content", style= "margin-left: 0px; width: 540px">
					<table>
						<tr>
							<td><%= f.label "Loteria" %></td>
							<td><%= f.select(:loteria_id, options_from_collection_for_select(@loterias, :id, :nombre)) %>
						</tr>
					</table>
			</div>						
			<div id="tabsa-b">
					<table>
						<tr>
							<td><%= f.label "Precio Punto x Quiniela" %></td>
							<td><%= f.text_field :puntoq, :size => 40 %></td>
						</tr>
						<tr>
							<td><%= f.label "Límite Puntos x Quiniela" %></td>
							<td><%= f.text_field :limiteq, :size => 40 %></td>
						</tr>
						<tr>
							<td><%= f.label "Pago Quiniela 1ra" %></td>
							<td><%= f.text_field :paq1, :size => 40 %></td>
						</tr>
						<tr>
							<td><%= f.label "Pago Quiniela 2da" %></td>
							<td><%= f.text_field :paq2, :size => 40 %></td>
						</tr>
						<tr>
							<td><%= f.label "Pago Quiniela 3ra" %></td>
							<td><%= f.text_field :paq3, :size => 40 %></td>
						</tr>
						<tr>
							<td><%= f.label "% Rifero x Quinielas" %></td>
							<td><%= f.text_field :porcq, :size => 40 %></td>
						</tr>
					</table>
			</div>
			<div id="tabsa-c">
					<table>
						<tr>
							<td><%= f.label "Precio Punto x Pale" %></td>
							<td><%= f.text_field :puntop, :size => 40 %></td>
						</tr>
						<tr>
							<td><%= f.label "Límite Puntos x Pale" %></td>
							<td><%= f.text_field :limitep, :size => 40 %></td>
						</tr>
						<tr>
							<td><%= f.label "Pago Pale 1ra/2da" %></td>
							<td><%= f.text_field :pap12, :size => 40 %></td>
						</tr>
						<tr>
							<td><%= f.label "Pago Pale 1ra/3ra" %></td>
							<td><%= f.text_field :pap13, :size => 40 %></td>
						</tr>
						<tr>
							<td><%= f.label "Pago Pale 2da/3ra" %></td>
							<td><%= f.text_field :pap23, :size => 40 %></td>
						</tr>
						<tr>
							<td><%= f.label "% Rifero x Pale" %></td>
							<td><%= f.text_field :porcat, :size => 40 %></td>
						</tr>
					</table>
			</div>
			<div id="tabsa-d">
					<table>
						<tr>
							<td><%= f.label "Precio Punto x Tripleta" %></td>
							<td><%= f.text_field :puntot, :size => 40 %></td>
						</tr>
						<tr>
							<td><%= f.label "Límite Puntos x Tripleta" %></td>
							<td><%= f.text_field :limitet, :size => 40 %></td>
						</tr>
						<tr>
							<td><%= f.label "Pago Tripleta" %></td>
							<td><%= f.text_field :patri, :size => 40 %></td>
						</tr>
						<tr>
							<td><%= f.label "Pago Tripleta 1ra/2da" %></td>
							<td><%= f.text_field :pat12, :size => 40 %></td>
						</tr>
						<tr>
							<td><%= f.label "Pago Tripleta 1ra/3ra" %></td>
							<td><%= f.text_field :pat13, :size => 40 %></td>
						</tr>
						<tr>
							<td><%= f.label "Pago Tripleta 2da/3ra" %></td>
							<td><%= f.text_field :pat23, :size => 40 %></td>
						</tr>
						<tr>
							<td><%= f.label "% Rifero x Tripleta" %></td>
							<td><%= f.text_field :porcat, :size => 40 %></td>
						</tr>
					</table>
			</div>
			<div id="tabsa-e">
					<table>
						<tr>
							<td><%= f.label "Precio Punto x Pega3 Lineal" %></td>
							<td><%= f.text_field :puntop3l, :size => 40 %></td>
						</tr>
						<tr>
							<td><%= f.label "Precio Punto x Pega3 Combo" %></td>
							<td><%= f.text_field :puntop3c, :size => 40 %></td>
						</tr>
						<tr>
							<td><%= f.label "Límite Puntos x Pega3 Lineal" %></td>
							<td><%= f.text_field :limitep3l, :size => 40 %></td>
						</tr>
						<tr>
							<td><%= f.label "Límite Puntos x Pega3 Combo" %></td>
							<td><%= f.text_field :limitep3c, :size => 40 %></td>
						</tr>
						<tr>
							<td><%= f.label "Pago Pega3 Lineal" %></td>
							<td><%= f.text_field :pap3l, :size => 40 %></td>
						</tr>
						<tr>
							<td><%= f.label "Pago Pega3 Combo" %></td>
							<td><%= f.text_field :pap3c, :size => 40 %></td>
						</tr>
						<tr>
							<td><%= f.label "% Rifero x Pega3 Lineal" %></td>
							<td><%= f.text_field :porcp3l, :size => 40 %></td>
						</tr>
						<tr>
							<td><%= f.label "% Rifero x Pega3 Combo" %></td>
							<td><%= f.text_field :porcp3c, :size => 40 %></td>
						</tr>
						<tr>
							<td><%= f.label "% Acumulado Rifero x Venta Pega3 Lineal" %></td>
							<td><%= f.text_field :porcap3l, :size => 40 %></td>
						</tr>
						<tr>
							<td><%= f.label "% Acumulado Rifero x Venta Pega3 Combo" %></td>
							<td><%= f.text_field :porcap3c, :size => 40 %></td>
						</tr>
					</table>
			</div>
			<div id="tabsa-f">
					<table>
						<tr>
							<td><%= f.label "Paga Ticket?" %></td>
							<td><%= f.check_box :pagati , options = {:tabindex => 18}, checked_value = "S", unchecked_value = "N"%></td>
						</tr>
						<tr>
							<td><%= f.label "Valor mínimo de ticket" %></td>
							<td><%= f.text_field :limiteti, :size => 40 %></td>
						</tr>
						<tr>
							<td><%= f.label "Pago Ticket 1ra" %></td>
							<td><%= f.text_field :porcap3c, :size => 40 %></td>
						</tr>
						<tr>
							<td><%= f.label "Pago Ticket 2da" %></td>
							<td><%= f.text_field :porcap3c, :size => 40 %></td>
						</tr>
						<tr>
							<td><%= f.label "Pago Ticket 3ra" %></td>
							<td><%= f.text_field :porcap3c, :size => 40 %></td>
						</tr>
						<tr>
							<td><%= f.label "Comentario Impresión" %></td>
							<td><%= f.text_area :come_lo, {:rows=>5, :cols=>30} %></td>
						</tr>
					</table>
				</div>	
				<td><buttone style = "font-size: 10px"><%= link_to_remove_association "Eliminar", f %></buttone></td>
			</div>
	</div>