<script>
	$(function() {
	$( "#tabs" ).tabs();
	});
	$(function() {
	$( "button" ).button(); 
	});
</script>

<span class = "ui-widget-header"><%= @anio %></span>
<%= button_tag("01", :id=> "Enero", :onclick=> "cambia_indice(this.id)", :class=>"ui-state-default ui-corner-all") %>
<%= button_tag("02", :id=> "Febrero", :onclick=> "cambia_indice(this.id)", :class=>"ui-state-default ui-corner-all") %>
<%= button_tag("03", :id=> "Marzo", :onclick=> "cambia_indice(this.id)", :class=>"ui-state-default ui-corner-all") %>
<%= button_tag("04", :id=> "Abril", :onclick=> "cambia_indice(this.id)", :class=>"ui-state-default ui-corner-all") %>
<%= button_tag("05", :id=> "Mayo", :onclick=> "cambia_indice(this.id)", :class=>"ui-state-default ui-corner-all") %>
<%= button_tag("06", :id=> "Junio", :onclick=> "cambia_indice(this.id)", :class=>"ui-state-default ui-corner-all") %>
<%= button_tag("07", :id=> "Julio", :onclick=> "cambia_indice(this.id)", :class=>"ui-state-default ui-corner-all") %>
<%= button_tag("08", :id=> "Agosto", :onclick=> "cambia_indice(this.id)", :class=>"ui-state-default ui-corner-all") %>
<%= button_tag("09", :id=> "Septiembre", :onclick=> "cambia_indice(this.id)", :class=>"ui-state-default ui-corner-all") %>
<%= button_tag("10", :id=> "Octubre", :onclick=> "cambia_indice(this.id)", :class=>"ui-state-default ui-corner-all") %>
<%= button_tag("11", :id=> "Noviembre", :onclick=> "cambia_indice(this.id)", :class=>"ui-state-default ui-corner-all") %>
<%= button_tag("12", :id=> "Diciembre", :onclick=> "cambia_indice(this.id)", :class=>"ui-state-default ui-corner-all") %>

<script>
	function cambia_indice(elId)
	{
		var el_mes = elId;
		var dataString = 'model='+'deboxionales'+'&mes='+elId;  
			document.getElementById('los_deboxionales').innerHTML=" ";
			$.ajax(
			{  
			type: "GET",  
			url: "/deboxionalesformularios/show",  
			data: dataString  
			}); 							  
			return false;
	}
</script>