<button id="buscar" onclick="window.location = '<%= deboxionalesformularios_path %>';" class="ui-state-default ui-corner-all" title= "Volver"> <span class="ui-icon ui-icon-circle-zoomout"></button> 
<button id="nuevo"  onclick="window.location = '<%= new_deboxionalesformulario_path %>';" class="ui-state-default ui-corner-all" title="Nuevo"> <span class="ui-icon ui-icon-plusthick"></button>   
<%= render 'form' %>
<button id="buscar" onclick="window.location = '<%= deboxionalesformularios_path %>';" class="ui-state-default ui-corner-all" title= "Volver"> <span class="ui-icon ui-icon-circle-zoomout"></button> 
<button id="nuevo"  onclick="window.location = '<%= new_deboxionalesformulario_path %>';" class="ui-state-default ui-corner-all" title="Nuevo"> <span class="ui-icon ui-icon-plusthick"></button>   


	
	
