<div class = "row ml-3"><h5>Clubes Participantes</h5></div>
<table class = "table table-bordered ml-3" style = "width: 50%">
	<tr class = "row">
		<td class = "col bg-success text-white">Club</td>
		<td class = "col bg-success text-white">Zona</td>
	</tr>
	<% @clubes_participantes.each do |club| %>
		<tr class = "row">
			<td class = "col bg-success text-white"><%= club.nombre %></td>
			<td class = "col bg-success text-white"><%= "#{club.zonaNombre}" %></td>
		</tr>
	<% end %>
	<tr class = "row"><td class = "col bg-success text-white"><%= "Total Participante : #{@clubes_participantes.count}" %></td></tr>
</table>

<div class = "row ml-3"><h5>Clubes Faltantes</h5></div>
<table class = "table table-bordered ml-3" style = "width: 50%">
	<tr class = "row">
		<td class = "col bg-danger text-white">Club</td>
		<td class = "col bg-danger text-white">Zona</td>
	</tr>
	<% @clubes_faltantes.each do |club| %>
		<tr class = "row">
			<td class = "col bg-danger text-white"><%= club.nombre %></td>
			<td class = "col bg-danger text-white"><%= "#{club.zonaNombre}" %></td>
		</tr>
	<% end %>
	<tr class = "row"><td class = "col bg-danger text-white"><%= "Total Faltante : #{@clubes_faltantes.count}" %></td></tr>
</table>