<table class = "table table-bordered ml-3" style = "width: 98%">
	<% if @clubespuntos != nil %>
		<% if @clubespuntos[0] != nil %>
			<tr>
				<td colspan = 4, style = "text-align: center;">
					<span style = "width: 100%; font-size: 24px; text-align: center"><%= @clubespuntos[0].conference_name %></span><br>
					<span colspan = 4, style = "width: 100%; font-size: 18px; text-align: center"><%= @clubespuntos[0].camporee_name %></span><br>
					<span colspan = 4, style = "width: 100%; font-size: 16px; text-align: center">Resumen Resultados por Club</span>
				</td>
			</tr>
			<tr>
				<td style = "width: 25%; text-align: center"><b>Zona: </b><%= @clubespuntos[0].zone_name %></td>
				<td style = "width: 35%; text-align: center"><b>Iglesia: </b> <%= @clubespuntos[0].club_name %></td>
				<td style = "width: 25%; text-align: center"><b>Club: </b> <%= @clubespuntos[0].club_name %></td>
			</tr>
			<tr>
				<td style = "width: 25%;"><b>Renglón</td>
				<td style = "width: 35%;"><b>Evento</td>
				<td style = "width: 25%; text-align: right"><b>Puntuación</td>
			</tr>
			<% total_club = 0 %>
			<% @clubespuntos.each do |c| %>
					<% event = Camporeesevento.find(c.event_id) %>
					<% category = Camporeesrenglone.find(event.camporeesrenglone_id) %>
					<td style = '<%= "width: 25%; color: ##{category.text_color}; background-color: ##{category.color}" %>''><%= category.nombre %></td>
					<td style = "width: 35%;"><%= event.nombre %></td>
					<td style = "width: 25%; text-align: right;"><%= number_to_currency(c.total_points, unit: "") %></td>
				</tr>
				<% total_club += c.total_points.to_f %>
			<% end %>
		<% end %>
	<% end %>
	<tr>
		<td style = ""></td>
		<td style = "text-align: right;"></td>
		<td style = "text-align: right;"><b><%= number_to_currency(total_club, unit: "") %></td>
	</tr>
</table>