<div class = "container-fluid">
	<%= form_for(@rol, :id=> "form_role", :html=>{:id=>"form_role"}) do |f| %>
		<% if @rol.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(@rol.errors.count, "error") %>: No se pudo guardar:</h2>
				<ul>
					<% @rol.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
				</ul>
			</div>
		<% end %>
  	<% @idrol = @rol.id %>
		<% if @rol.new_record? %>
			<% @idrol = 0 %>
		<% end %>
		<div class = "row">
			<div class = "col-2">
				<%= f.label :nombre_rol %>
				<%= f.text_field :nombre_rol, class: "form-control" %>
			</div>
			<div class = "col-3">
				<%= f.label :descripcion %>
				<%= f.text_field :descripcion, class: "form-control" %>
			</div>
			<div class = "col-3">
				<%= f.label :comentario %>
				<%= f.text_area :comentario, class: "form-control" %>
			</div>
		</div>
		<% @menustbl= Gemenutbl.where("menu_cod = '#{$menugral}'").all %>
		<% conteo = 0 %>
		<% indice = 1 %>
		<% @menustbl.each do |menuitem| %>
			<% @nivel_ant = menuitem.menu_level %>
			<% case menuitem.item_type %>
				<% when 'R' %>
				<% when 'N' %>
					<% if menuitem.menu_level == 1%>
						<div class = "row">
							<div class = "h4"><%= menuitem.menu_descr %></div>
						</div>
						<div class = "row col-12">
							<div class = "col-1">Opcion</div>
							<div class = "col-1">Activo?</div> 
							<div class = "col"></div>
							<div class = "col">Todos</div>
							<div class = "col">Acceder</div> 
							<div class = "col">Crear</div>
							<div class = "col">Consultar</div>
							<div class = "col">Actualizar</div>
							<div class = "col">Eliminar</div>
						</div>
						<% elsif menuitem.menu_level == 2 && menuitem.menu_item.length == 6 %>
							<div class = "row">
								<div class = "col-2"<b><%= menuitem.menu_descr %></div>
							</div>
						<% end %>
					<% else %>
						<% if not menuitem.menu_descr.include? "------------------------" %>
							<tr>
								<% roldet = Roldet.where("rol_id = #{@idrol} AND controller= '#{menuitem.menu_controller}'").first %>
								<%if roldet != nil %>
									<% if roldet.controller == menuitem.menu_controller %>
										<% if menuitem.menu_level == 3%>															
											<td id = "colController<%= menuitem.id %>", style = "width: 300px;text-align: left; font-weight: bold; color: #00ff00;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= menuitem.menu_descr %></td>
										<% else %>
											<td id = "colController<%= menuitem.id %>", style = "width: 300px;font-weight: bold; color: #00ff00;"><%= menuitem.menu_descr %></td>
										<% end %>
										<td id = "colActivaDesactiva<%= menuitem.id %>", style="width: 10px; text-align: center"></td>
										<td style = "visibility: hidden", id="colControler<%= menuitem.id %>">menuitem.menu_controller</td>
										<td id = "colTodos<%= menuitem.id %>", style = "text-align:center;"></td>
										<td id = "colAcceder<%= menuitem.id %>", style = "text-align:center;"></td>
										<td id = "colCrear<%= menuitem.id %>", style = "text-align:center;"></td>
										<td id = "colConsultar<%= menuitem.id %>", style = "text-align:center;"></td>
										<td id = "colActualizar<%= menuitem.id %>", style = "text-align:center;"></td>
										<td id = "colEliminar<%= menuitem.id %>", style = "text-align:center;"></td>
										<script>
										{
											$(i = <%= menuitem.id %>);
											var elCheckActivadoDesactivado = document.createElement('input');
											$(elCheckActivadoDesactivado.type = 'checkbox');
											elCheckActivadoDesactivado.name= "rol_cabeza"+"["+"tmprolesdet"+"]"+"["+i+"]"+"activo_desactivado"
											elCheckActivadoDesactivado.checked = true;
											$(elCheckActivadoDesactivado.id = "elCheckActivadoDesactivado" + i);
											elCheckActivadoDesactivado.addEventListener("click", function() 
																								{
																									borra_preferencias("elCheckActivadoDesactivado" + <%= menuitem.id %>, <%= menuitem.id %>);
																								});												
											var elController = document.createElement('input');
											elController.type='hidden';
											elController.name= "rol_cabeza"+"["+"tmprolesdet"+"]"+"["+i+"]"+"controller"
											elController.value= "<%= menuitem.menu_controller %>";
											var elCheckAcceder = document.createElement('input');
											$(elCheckAcceder.type = 'checkbox');
											$(elCheckAcceder.id = "elCheckAcceder" + i);
											elCheckAcceder.name= "rol_cabeza"+"["+"tmprolesdet"+"]"+"["+i+"]"+"acceder"
											<% if roldet.acceder == '1' %>
												elCheckAcceder.checked = true; 
											<% else %>
												elCheckAcceder.checked = false; 
											<% end %>
											var elCheckConsultar = document.createElement('input');
											$(elCheckConsultar.type = 'checkbox');
											$(elCheckConsultar.id = "elCheckConsultar" + i);
											elCheckConsultar.name= "rol_cabeza"+"["+"tmprolesdet"+"]"+"["+i+"]"+"consultar"
											<% if roldet.consultar == '1' %>
												elCheckConsultar.checked = true; 
											<% else %>
												elCheckConsultar.checked = false; 
											<% end %>
											var elCheckCrear = document.createElement('input');
											$(elCheckCrear.type = 'checkbox');
											$(elCheckCrear.id = "elCheckCrear" + i);
											elCheckCrear.name= "rol_cabeza"+"["+"tmprolesdet"+"]"+"["+i+"]"+"crear"
											<% if roldet.crear == '1' %>
												elCheckCrear.checked = true; 
											<% else %>
												elCheckCrear.checked = false; 
											<% end %>
											var elCheckActualizar = document.createElement('input');
											$(elCheckActualizar.type = 'checkbox');
											$(elCheckActualizar.id = "elCheckActualizar" + i);
											elCheckActualizar.name= "rol_cabeza"+"["+"tmprolesdet"+"]"+"["+i+"]"+"actualizar"
											<% if roldet.actualizar == '1' %>
												elCheckActualizar.checked = true; 
											<% else %>
												elCheckActualizar.checked = false; 
											<% end %>
											var elCheckEliminar = document.createElement('input');
											$(elCheckEliminar.type = 'checkbox');
											$(elCheckEliminar.id = "elCheckEliminar" + i);
											elCheckEliminar.name= "rol_cabeza"+"["+"tmprolesdet"+"]"+"["+i+"]"+"eliminar"
											<% if roldet.eliminar == '1' %>
												elCheckEliminar.checked = true; 
											<% else %>
												elCheckEliminar.checked = false; 
											<% end %>
											var elCheckTodos = document.createElement('input');
											$(elCheckTodos.type = 'checkbox');
											elCheckTodos.checked = false;
											$(elCheckTodos.id = "elCheckTodos" + i);
											elCheckTodos.addEventListener("click", function() 
																		{
																			if(document.getElementById("elCheckTodos" + <%= menuitem.id %>).checked == true)
																			{
																				document.getElementById("elCheckAcceder" + <%= menuitem.id %>).checked = true;
																				document.getElementById("elCheckCrear" + <%= menuitem.id %>).checked = true;
																				document.getElementById("elCheckConsultar" + <%= menuitem.id %>).checked = true;
																				document.getElementById("elCheckActualizar" + <%= menuitem.id %>).checked = true;
																				document.getElementById("elCheckEliminar" + <%= menuitem.id %>).checked = true;
																			}
																			else
																			{
																				document.getElementById("elCheckAcceder" + <%= menuitem.id %>).checked = false;
																				document.getElementById("elCheckCrear" + <%= menuitem.id %>).checked = false;
																				document.getElementById("elCheckConsultar" + <%= menuitem.id %>).checked = false;
																				document.getElementById("elCheckActualizar" + <%= menuitem.id %>).checked = false;
																				document.getElementById("elCheckEliminar" + <%= menuitem.id %>).checked = false;
																			}
																		});	
											$(document.getElementById("colAcceder" + i).appendChild(elController));
											$(document.getElementById("colTodos" + i).appendChild(elCheckTodos));
											$(document.getElementById("colAcceder" + i).appendChild(elCheckAcceder));
											$(document.getElementById("colCrear" + i).appendChild(elCheckCrear));
											$(document.getElementById("colConsultar" + i).appendChild(elCheckConsultar));
											$(document.getElementById("colActualizar" + i).appendChild(elCheckActualizar));
											$(document.getElementById("colEliminar" + i).appendChild(elCheckEliminar));
											$(document.getElementById("colActivaDesactiva" + i).appendChild(elCheckActivadoDesactivado));
										}
										</script>
									<% end %>
								<% else %>
									<% if menuitem.menu_level == 3%>	
										<td id = "colController<%= menuitem.id %>", style = "width: 300px;text-align: left; font-weight: bold; color: red;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= menuitem.menu_descr %></td>
									<% else %>
										<td id = "colController<%= menuitem.id %>", style = "width: 300px;font-weight: bold; color: red;"><%= menuitem.menu_descr %></td>
									<% end %>
									<td style="width: 15px; text-align: center"><%= check_box_tag :acceder, menuitem.menu_controller + '|' + menuitem.id.to_s, false, :onclick=> "activa_desactiva(this)", :id=>"elcheckActiva#{menuitem.id}" %></td>
									<td><%= hidden_field_tag(:controller, menuitem.menu_controller, :id=>"menu_controllernew") %></td>
									<td id = "colTodos<%= menuitem.id %>", style = "text-align:center;"></td>
									<td id = "colAcceder<%= menuitem.id %>", style = "text-align:center;"></td>
									<td id = "colCrear<%= menuitem.id %>", style = "text-align:center;"></td>
									<td id = "colConsultar<%= menuitem.id %>", style = "text-align:center;"></td>
									<td id = "colActualizar<%= menuitem.id %>", style = "text-align:center;"></td>
									<td id = "colEliminar<%= menuitem.id %>", style = "text-align:center;"></td>
									<td id = "colActivaDesactiva<%= menuitem.id %>", style="width: 5px; text-align: center; visibility: hidden"></td>
								<% end %>
							</tr>
						<% end %>
					<% end %>
								</tr>
							<% end %>
						</table>
				</div>
			</div>	
			<div class="actions">
				<script>
					function guardar()
					{
						document.getElementById("form_role").submit();
					};
				</script>   
				<button id="btnguardar", type="button", onclick="guardar()", style="visibility: visible"><%= t(:guardar) %></button>
			</div>
		</div>
	<% end %>
	<%= hidden_field_tag(:valor_e, "500", :value=> 500, :id=> "valor_e") %>
	<script>
		function activa_desactiva(elController)
		{
			var arreglo_controllerid = elController.value.split("|");
			var el_id = arreglo_controllerid[1];
			var el_controller = arreglo_controllerid[0];		
			if(document.getElementById("elcheckActiva" + el_id).checked == true)
			{
				$(i = el_id);
				var elCheckActivadoDesactivado = document.createElement('input');
				$(elCheckActivadoDesactivado.type = 'checkbox');
				elCheckActivadoDesactivado.name= "rol_cabeza"+"["+"tmprolesdet"+"]"+"["+i+"]"+"activo_desactivado"
				elCheckActivadoDesactivado.checked = true;
				var elController = document.createElement('input');
				elController.type='hidden';
				elController.name= "rol_cabeza"+"["+"tmprolesdet"+"]"+"["+i+"]"+"controller"
				elController.value= el_controller;
				var elCheckAcceder = document.createElement('input');
				$(elCheckAcceder.type = 'checkbox');
				$(elCheckAcceder.id = "elCheckAcceder" + i);
				elCheckAcceder.name= "rol_cabeza"+"["+"tmprolesdet"+"]"+"["+i+"]"+"acceder"
				elCheckAcceder.checked = false; 
				var elCheckConsultar = document.createElement('input');
				$(elCheckConsultar.type = 'checkbox');
				$(elCheckConsultar.id = "elCheckConsultar" + i);
				elCheckConsultar.name= "rol_cabeza"+"["+"tmprolesdet"+"]"+"["+i+"]"+"consultar"
				elCheckConsultar.checked = false; 
				var elCheckCrear = document.createElement('input');
				$(elCheckCrear.type = 'checkbox');
				$(elCheckCrear.id = "elCheckCrear" + i);
				elCheckCrear.name= "rol_cabeza"+"["+"tmprolesdet"+"]"+"["+i+"]"+"crear"
				elCheckCrear.checked = false; 
				var elCheckActualizar = document.createElement('input');
				$(elCheckActualizar.type = 'checkbox');
				$(elCheckActualizar.id = "elCheckActualizar" + i);
				elCheckActualizar.name= "rol_cabeza"+"["+"tmprolesdet"+"]"+"["+i+"]"+"actualizar"
				elCheckActualizar.checked = false; 
				var elCheckEliminar = document.createElement('input');
				$(elCheckEliminar.type = 'checkbox');
				$(elCheckEliminar.id = "elCheckEliminar" + i);
				elCheckEliminar.name= "rol_cabeza"+"["+"tmprolesdet"+"]"+"["+i+"]"+"eliminar"
				elCheckEliminar.checked = false; 
				var elCheckTodos = document.createElement('input');
				$(elCheckTodos.type = 'checkbox');
				elCheckTodos.checked = false;
				$(elCheckTodos.id = "elCheckTodos" + i);
				elCheckTodos.addEventListener("click", function() 
														{
															if(document.getElementById("elCheckTodos" + i).checked == true)
															{
																document.getElementById("elCheckAcceder" + i).checked = true;
																document.getElementById("elCheckCrear" + i).checked = true;
																document.getElementById("elCheckConsultar" + i).checked = true;
																document.getElementById("elCheckActualizar" + i).checked = true;
																document.getElementById("elCheckEliminar" + i).checked = true;
															}
															else
															{
																document.getElementById("elCheckAcceder" + i).checked = false;
																document.getElementById("elCheckCrear" + i).checked = false;
																document.getElementById("elCheckConsultar" + i).checked = false;
																document.getElementById("elCheckActualizar" + i).checked = false;
																document.getElementById("elCheckEliminar" + i).checked = false;
															}
														});	
				$(document.getElementById("colController" + i).style.color="#00ff00");
				$(document.getElementById("colAcceder" + i).appendChild(elController));
				$(document.getElementById("colTodos" + i).appendChild(elCheckTodos));
				$(document.getElementById("colAcceder" + i).appendChild(elCheckAcceder));
				$(document.getElementById("colCrear" + i).appendChild(elCheckCrear));
				$(document.getElementById("colConsultar" + i).appendChild(elCheckConsultar));
				$(document.getElementById("colActualizar" + i).appendChild(elCheckActualizar));
				$(document.getElementById("colEliminar" + i).appendChild(elCheckEliminar));
				$(document.getElementById("colActivaDesactiva" + i).appendChild(elCheckActivadoDesactivado));
			}
			else
			{
				$(document.getElementById("colController" + i).style.color="red");
				$(document.getElementById("colTodos" + i).innerHTML="");
				$(document.getElementById("colAcceder" + i).innerHTML="");
				$(document.getElementById("colAcceder" + i).innerHTML="");
				$(document.getElementById("colCrear" + i).innerHTML="");
				$(document.getElementById("colConsultar" + i).innerHTML="");
				$(document.getElementById("colActualizar" + i).innerHTML="");
				$(document.getElementById("colEliminar" + i).innerHTML="");
				$(document.getElementById("colActivaDesactiva" + i).innerHTML="")
				$(document.removeChild(elController))
				$(document.removeChild(elCheckTodos))
				$(document.removeChild(elCheckAcceder))
				$(document.removeChild(elCheckCrear))
				$(document.removeChild(elCheckConsultar))
				$(document.removeChild(elCheckActualizar))
				$(document.removeChild(elCheckEliminar))
				$(document.removeChild(elCheckActivadoDesactivado))				
			}	
		}	
		function borra_preferencias(indice, id)
		{
			var i = id;
			if(document.getElementById(indice).checked == false)
			{
				$(document.getElementById("colController" + i).style.color="red");
				$(document.getElementById("colTodos" + i).innerHTML="");
				$(document.getElementById("colAcceder" + i).innerHTML="");
				$(document.getElementById("colAcceder" + i).innerHTML="");
				$(document.getElementById("colCrear" + i).innerHTML="");
				$(document.getElementById("colConsultar" + i).innerHTML="");
				$(document.getElementById("colActualizar" + i).innerHTML="");
				$(document.getElementById("colEliminar" + i).innerHTML="");
				$(document.removeChild(elCheckAcceder))
				$(document.removeChild(elCheckTodos))
				$(document.removeChild(elCheckCrear))
				$(document.removeChild(elCheckConsultar))
				$(document.removeChild(elCheckActualizar))
				$(document.removeChild(elCheckEliminar))	
			}
			else	
			{
				var elCheckActivadoDesactivado = document.createElement('input');
				$(elCheckActivadoDesactivado.type = 'checkbox');
				elCheckActivadoDesactivado.name= "rol_cabeza"+"["+"tmprolesdet"+"]"+"["+i+"]"+"activo_desactivado"
				elCheckActivadoDesactivado.checked = true;
				var elController = document.createElement('input');
				elController.type='hidden';
				elController.name= "rol_cabeza"+"["+"tmprolesdet"+"]"+"["+i+"]"+"controller"
				elController.value= document.getElementById("menu_controllernew").value;
				var elCheckAcceder = document.createElement('input');
				$(elCheckAcceder.type = 'checkbox');
				$(elCheckAcceder.id = "elCheckAcceder" + i);
				elCheckAcceder.name= "rol_cabeza"+"["+"tmprolesdet"+"]"+"["+i+"]"+"acceder"
				elCheckAcceder.checked = false; 
				var elCheckConsultar = document.createElement('input');
				$(elCheckConsultar.type = 'checkbox');
				$(elCheckConsultar.id = "elCheckConsultar" + i);
				elCheckConsultar.name= "rol_cabeza"+"["+"tmprolesdet"+"]"+"["+i+"]"+"consultar"
				elCheckConsultar.checked = false; 
				var elCheckCrear = document.createElement('input');
				$(elCheckCrear.type = 'checkbox');
				$(elCheckCrear.id = "elCheckCrear" + i);
				elCheckCrear.name= "rol_cabeza"+"["+"tmprolesdet"+"]"+"["+i+"]"+"crear"
				elCheckCrear.checked = false; 
				var elCheckActualizar = document.createElement('input');
				$(elCheckActualizar.type = 'checkbox');
				$(elCheckActualizar.id = "elCheckActualizar" + i);
				elCheckActualizar.name= "rol_cabeza"+"["+"tmprolesdet"+"]"+"["+i+"]"+"actualizar"
				elCheckActualizar.checked = false; 
				var elCheckEliminar = document.createElement('input');
				$(elCheckEliminar.type = 'checkbox');
				$(elCheckEliminar.id = "elCheckEliminar" + i);
				elCheckEliminar.name= "rol_cabeza"+"["+"tmprolesdet"+"]"+"["+i+"]"+"eliminar"
				elCheckEliminar.checked = false; 
				var elCheckTodos = document.createElement('input');
				$(elCheckTodos.type = 'checkbox');
				elCheckTodos.checked = false;
				$(elCheckTodos.id = "elCheckTodos" + i);
				elCheckTodos.addEventListener("click", function() 
														{
															if(document.getElementById("elCheckTodos" + i).checked == true)
															{
																document.getElementById("elCheckAcceder" + i).checked = true;
																document.getElementById("elCheckCrear" + i).checked = true;
																document.getElementById("elCheckConsultar" + i).checked = true;
																document.getElementById("elCheckActualizar" + i).checked = true;
																document.getElementById("elCheckEliminar" + i).checked = true;
															}
															else
															{
																document.getElementById("elCheckAcceder" + i).checked = false;
																document.getElementById("elCheckCrear" + i).checked = false;
																document.getElementById("elCheckConsultar" + i).checked = false;
																document.getElementById("elCheckActualizar" + i).checked = false;
																document.getElementById("elCheckEliminar" + i).checked = false;
															}
														});	
				$(document.getElementById("colController" + i).style.color="#00ff00");
				$(document.getElementById("colTodos" + i).appendChild(elCheckTodos));
				$(document.getElementById("colAcceder" + i).appendChild(elController));
				$(document.getElementById("colAcceder" + i).appendChild(elCheckAcceder));
				$(document.getElementById("colCrear" + i).appendChild(elCheckCrear));
				$(document.getElementById("colConsultar" + i).appendChild(elCheckConsultar));
				$(document.getElementById("colActualizar" + i).appendChild(elCheckActualizar));
				$(document.getElementById("colEliminar" + i).appendChild(elCheckEliminar));
			}
		}
	</script>

<div id="midivdialog" title="Seleccione el controller"></div>
 
	<script>
		$( "buttonback" ).button(); 
		$(function() {
			$( "#tabs" ).tabs();
				$( "#tabsrol" ).tabs();
		});
	</script>

	 <script>
	  function selectModel(pmodel, elObj) 
	   {
		if (pmodel == 'buscarol') {
			var myparent = elObj.parentNode;
			var grandpa = myparent.parentNode;
			var x=grandpa.childNodes;
			
			for (i=0;i<x.length;i++)
			{
				if (x[i].className == "tdcontroller"){		
					z = x[i].childNodes;
					for (j=0;j<z.length;j++)
					{
						if (z[j].className == "editcontroller"){
							var dataString = 'model='+pmodel+'&codigo='+elObj.value+'&elementoedit='+z[j].id;  
						}
					}
				}
			};
		}
		else
			var dataString = 'model='+pmodel+'&codigo='+elObj.value+'&elementoedit='+elObj.id;  

		document.getElementById('midivdialog').innerHTML=" ";
		$.ajax(
		{  
			type: "GET",  
			url: "/searchlookup/show",  
			data: dataString  
		});  
		return false;
	  };
	</script>

	

