<script>
	function nuevo()
	{
		window.location = '<%= new_rol_path() %>';
	};
</script>

<div class= "tab-content">
	<ul class="nav nav-tabs">
		<li><h3><%= t(:roles) %></h3></li>
	</ul>
	<div id="tabs-a">
		<br>		
		<table width = "100%">
			<tr>
				<td valign = "top" class = "col-xs-50", style="text-align: right;"><div><button type = "button" class="btn btn-primary", onclick="nuevo()"><span class = "glyphicon glyphicon-plus"></span> <%= t(:nuevo) %></button></div></td>
			</tr>
		</table>
		<br>
		<div class = "table-responsive">		
			<table class= "table-striped table-hover" width="100%">
				<tr class = "ui-widget-header", style "border: 1px solid #CCCCCC;">
					<th style = "width: 20%">Nombre Rol</th>
					<th style = "width: 40%">Descripcion</th>
					<th style = "width: 40%">Comentario</th>			
				</tr> 
				<% @roles.each do |rol| %>
					<tr>
						<td><%= link_to rol.nombre_rol, edit_rol_path(rol) %></td>
						<td><%= rol.descripcion %></td>
						<td><%= rol.comentario %></td>
					</tr>
				<% end %>		
			</table>
		</div>
	</div>
</div>