<p id="notice"><%= notice %></p>

<p>
  <b>Setma Id:</b>
  <%= @vendedore.setma_id %>
</p>

<p>
  <b>Codigo:</b>
  <%= @vendedore.codigo %>
</p>

<p>
  <b>Nombre:</b>
  <%= @vendedore.nombre %>
</p>

<p>
  <b>Estatus:</b>
  <%= @vendedore.estatus %>
</p>

<p>
  <b>Pais:</b>
  <%= @vendedore.pais_id %>
</p>

<p>
  <b>Nombre:</b>
  <%= @vendedore.nombre %>
</p>

<p>
  <b>Provincia:</b>
  <%= @vendedore.provincia %>
</p>

<p>
  <b>Ciudad:</b>
  <%= @vendedore.ciudad %>
</p>

<p>
  <b>Contado:</b>
  <%= @vendedore.com_vta_contado %>
</p>

<p>
  <b>Credito:</b>
  <%= @vendedore.com_vta_credito %>
</p>

<p>
  <b>Cobros:</b>
  <%= @vendedore.com_cobros %>
</p>

<p>
  <b>Comentario:</b>
  <%= @vendedore.comentario %>
</p>


<%= link_to 'Edit', edit_vendedor_path(@vendedore) %> |
<%= link_to 'Back', vendedores_path %>
