<body>
	<br>
	<button id="buscar" style="font-size: 15px;" onclick="window.location = '<%= preguntas_path %>';" class="ui-state-default ui-corner-all" title= "Volver">⌂</button> 
	<button id="previo" style="font-size: 15px;" onclick="window.location = '<%= edit_pregunta_path(@pregunta,:donde => 'prev') %>';" class="ui-state-default ui-corner-all" title= "Anterior">←</button> 
	<button id="siguiente" style="font-size: 15px;" onclick="window.location = '<%= edit_deboxionalesformulario_path(@pregunta,:donde => 'next')%>';" class="ui-state-default ui-corner-all" title= "Siguiente">→</button> 
	<button id="nuevo" style="font-size: 15px;" onclick="window.location = '<%= new_pregunta_path %>';" class="ui-state-default ui-corner-all" title="Nuevo">+</button>   
	<%= render 'form' %>
	<button id="buscar" style="font-size: 15px;" onclick="window.location = '<%= preguntas_path %>';" class="ui-state-default ui-corner-all" title= "Volver">⌂</button> 
	<button id="previo" style="font-size: 15px;" onclick="window.location = '<%= edit_pregunta_path(@pregunta,:donde => 'prev') %>';" class="ui-state-default ui-corner-all" title= "Anterior">←</button> 
	<button id="siguiente" style="font-size: 15px;" onclick="window.location = '<%= edit_pregunta_path(@pregunta,:donde => 'next')%>';" class="ui-state-default ui-corner-all" title= "Siguiente">→</button> 
	<button id="nuevo" style="font-size: 15px;" onclick="window.location = '<%= new_pregunta_path %>';" class="ui-state-default ui-corner-all" title="Nuevo">+</button>  
	<br> 
	 <br>
	 <div class = "ui-widget-header">
	 </div>
	<br>
	<br>
</body>

