<br>
<body>
	<button id="buscar" onclick="window.location = '<%= preguntas_path %>';" class="ui-state-default ui-corner-all" title= "Volver">⌂</button> 
	<button id="nuevo"  onclick="window.location = '<%= new_pregunta_path %>';" class="ui-state-default ui-corner-all" title="Nuevo">+</button>   
	<%= render 'form' %>
	<button id="buscar" onclick="window.location = '<%= preguntas_path %>';" class="ui-state-default ui-corner-all" title= "Volver">⌂</button> 
	<button id="nuevo"  onclick="window.location = '<%= new_pregunta_path %>';" class="ui-state-default ui-corner-all" title="Nuevo">+</button>   
</body>

	
	
