<script>
	function nuevo()
	{
		window.location = '<%= new_datadeboxionale_path() %>';
	};
</script>
<div class= "tab-content">
	<ul class="nav nav-tabs">
		<li><h3><%= t(:deboxionales) %></h3></li>
	</ul>
	<div id="tabs-a">
		<br>
		<%#= will_paginate %>				
		<div class = "table-responsive">		
			<table class= "table-striped table-hover" width="85%">
					<tr>
						<th>Año</th>
						<th>Diagramar</th>
						<th></th>
					</tr>	  
					<tbody>
						<%# @deboxionals.each do |deboxional| %>
							<% deboxional = Datadeboxionale.where("anio = '2018'").first %>
							<tr>
								<td><%= deboxional.anio %></td>
								<td><%= link_to '<button class="btn btn-primary">Diagramar</button>'.html_safe, edit_diagramacione_path(deboxional)%></td>
							</tr>	
							<% deboxional = Datadeboxionale.where("anio = '2017'").first %>
							<tr>
								<td><%= deboxional.anio %></td>
								<td><%= link_to '<button class="btn btn-primary">Diagramar</button>'.html_safe, edit_diagramacione_path(deboxional)%></td>
							</tr>	
							<% deboxional = Datadeboxionale.where("anio = '2016'").first %>
							<tr>
								<td><%= deboxional.anio %></td>
								<td><%= link_to '<button class="btn btn-primary">Diagramar</button>'.html_safe, edit_diagramacione_path(deboxional)%></td>
							</tr>	
						<%# end %>
					</tbody>
			</table>
		</div>
	</div>
</div>
<br>
<br>
<br>