<% if @banca_existe == nil %>
	<td><%= %>Banca:</td>
	<td><%= text_field_tag(:banca_cod, "", :id => "banca_cod", :size => 10, :onchange=>"validacodban(this)") %>
	<%= hidden_field_tag(:banca_id, "", :id => "banca_id", :size => 10, :onchange=>"validacodban(this)") %>
	<%= image_tag "SearchIcon2.png", :onclick=>"selectModel('banca','bubanca','"+ controller_name + "')", :height =>'20', :width => '20', :title=>"Buscar Banca", :class=> "pin_image" %></td>
	<td colspan="5"><span id="divbancanom"></span></td>
<% else %>
	<td><%= %>Banca:</td>
	<td><%= text_field_tag(:banca_cod, @banca_existe.codigo, :id => "banca_cod", :size => 10, :onchange=>"validacodban(this)") %>
	<%= hidden_field_tag(:banca_id, @banca_existe.id, :id => "banca_id", :size => 10, :onchange=>"validacodban(this)") %>
	<%= image_tag "SearchIcon2.png", :onclick=>"selectModel('banca','bubanca','"+ controller_name + "')", :height =>'20', :width => '20', :title=>"Buscar Banca", :class=> "pin_image" %></td>
	<td colspan="5"><b><span id="divbancanom"><%= @banca_existe.nombre %></span></b></td>
<%end%> 