<% if @concepto_existe == nil %>
	<td><%= %>Concepto:</td>
	<td><%= text_field_tag(:concepto_cod, "", :id => "concepto_cod", :size => 10, :onchange=>"validacodcp(this)") %>
	<%= hidden_field_tag(:concepto_id, "", :id => "concepto_id", :size => 10, :onchange=>"validacodcp(this)") %>
	<%= image_tag "SearchIcon2.png", :onclick=>"selectModel('concepto','busconcepto','"+ controller_name + "')", :height =>'20', :width => '20', :title=>"Buscar Concpto", :class=> "pin_image" %></td>
	<td colspan="5"><span id="divcpdesc"></span></td>
<% else %>
	<td><%= %>Concepto:</td>
	<td><%= text_field_tag(:concepto_cod, @concepto_existe.codigo, :id => "concepto_cod", :size => 10, :onchange=>"validacodcp(this)") %>
	<%= hidden_field_tag(:banca_id, @banca_id, :id => "concepto_id", :size => 10, :onchange=>"validacodcp(this)") %>
	<%= image_tag "SearchIcon2.png", :onclick=>"selectModel('concepto','busconcepto','"+ controller_name + "')", :height =>'20', :width => '20', :title=>"Buscar Concepto", :class=> "pin_image" %></td>
	<td colspan="5"><b><span id="divcpdesc"><%= @concepto_existe.descripcion %></span></b></td>
<%end%> 