<% if @grupo_existe == nil %>
	<td><%= %>Grupo:</td>
	<td><%= text_field_tag(:grupo_cod, "", :id => "grupo_cod", :size => 10, :onchange=>"validacodgru(this)") %>
	<%= hidden_field_tag(:grupo_id, "", :id => "grupo_id", :size => 10, :onchange=>"validacodgru(this)") %>
	<%= image_tag "SearchIcon2.png", :onclick=>"selectModel('grupo','bugrupo','"+ controller_name + "')", :height =>'20', :width => '20', :title=>"Buscar Grupo", :class=> "pin_image" %></td>
	<td colspan="5"><span id="divgrupodesc"></span></td>
<% else %>
	<td><%= %>Grupo:</td>
	<td><%= text_field_tag(:grupo_cod, @grupo_existe.codigo, :id => "grupo_cod", :size => 10, :onchange=>"validacodgru(this)") %>
	<%= hidden_field_tag(:grupo_id, @grupo_id, :id => "grupo_id", :size => 10, :onchange=>"validacodgru(this)") %>
	<%= image_tag "SearchIcon2.png", :onclick=>"selectModel('grupo','bugrupo','"+ controller_name + "')", :height =>'20', :width => '20', :title=>"Buscar Grupo", :class=> "pin_image" %></td>
	<td colspan="5"><b><span id="divgrupodesc"><%= @grupo_existe.descripcion %></span></b></td>
<%end%> 