		
		<% if @simcard_existe == nil %>
				<td><%= %>Simcard:</td>
				<td><%= text_field_tag(:simcard_cod, "", :id => "simcard_cod", :size => 10, :onchange=>"validacodsim(this,'" + action_name+ "','" + controller_name + "')") %>
					<%= hidden_field_tag(:simcard_id, "", :id => "simcard_id", :size => 10) %>
					<%= image_tag "SearchIcon2.png", :onclick=>"selectModel('simcard','busimcard','"+ controller_name + "')", :height =>'20', :width => '20', :title=>"Buscar simcard", :class=> "pin_image" %></td>
				<td colspan="5"><span id="divsimnun" > </span></td>
			<% else %>
				<td><%=  %>Simcard:</td>
				<td><%= text_field_tag(:simcard_cod, @simcard_existe.codigo, :id => "simcard_cod", :size => 10, :onchange=>"validacodsim(this,'" + action_name+ "','" + controller_name + "')") %>
					<%= hidden_field_tag(:simcard_id, @simcard_existe.id, :id => "simcard_id", :size => 10) %>
					<%= image_tag "SearchIcon2.png", :onclick=>"selectModel('simcard','busimcard','"+ controller_name + "')", :height =>'20', :width => '20', :title=>"Buscar simcard", :class=> "pin_image" %></td>
				<td colspan="5"><b><span id="divsimnun" > <%= @simcard_existe.nombre %></span></b></td>
		<%end%>
				