# encoding: utf-8
<% if  @signedIn == false %>
	<div class= "tab-content">
		<div id="tabs-a">
			<br>
			<center>
				<h1>Deboxional 2019</h1>
				<br>
				<h4>Gracias a todos los que participaron de la convocatoria para el Deboxional 2019.</h4>
				<h4>En los próximos días estaremos contactando a aquellos que clasificaron a la siguiente etapa.</h4>	
				<h4>Si eres de los que aplicaron, mantente atento a tus vías de contacto.</h4>	
				<br>
				<br>
				<h2> ¡Mil Bendiciones, theboxioners!</b>
				<br>
				<br>
				<button class = "btn btn-success" id = "elBoton" type = "button" onclick= "volver()">Regresar</button>
			</center>
		</div>
	</div>
<% else %>
	<div class= "tab-content">
		<ul class="nav nav-tabs">
			<li><h3><%= t(:deboxionales) %></h3></li>
		</ul>
		<div id="tabs-a">		
			<br>
			<%= will_paginate %>				
			<div class = "table-responsive">		
				<table class= "table-striped table-hover" width="100%">
						<tr>
							<th>Título</th>
							<th>Autor</th>
							<th>Iglesia</th>
							<th>Teléfono</th>
							<th>Email</th>
							<th></th>
						</tr>	  
						<tbody>
							<% @aplicadeboxionales.each do |deboxional| %>
								<tr>
									<td><%= link_to deboxional.titulo, edit_aplicadeboxionale_path(deboxional)%></td>
									<td><%= deboxional.autor %></td>
									<td><%= deboxional.iglesia %></td>
									<td><%= deboxional.contacto %></td>
									<td><%= deboxional.email %></td>
								</tr>	
							<% end %>
						</tbody>
				</table>
			</div>
		</div>
	</div>
<% end %>