<ul class="nav nav-tabs">
	<li class="active"><a data-toggle="tab" href="#home"><h3>Iglesia</h3></a></li>
</ul>
<div class="tab-content ml-3 mr-3">
	<%= form_for(@iglesia) do |f| %>
		<% if @iglesia.errors.any? %>
			<div id="error_explanation">
				<h2><%= pluralize(@iglesia.errors.count, "errore") %>: No se pudo guardar</h2>
					<ul>
						<% @iglesia.errors.full_messages.each do |msg| %>
							<li><%= msg %></li>
						<% end %>
					</ul>
			</div>
		<% end %>
		<br>
		<div class="form-group">
			<label for="distrito_id">Distrito: </label>
			<%= f.select :distrito_id, option_groups_from_collection_for_select(@zonas, :distritos, :nombre, :id, :nombre), {}, :class=> "form-control selectpicker", "data-live-search": "true" %>
		</div>
		<div class="form-group">
			<label for="nombre">Nombre: </label>
			<%= f.text_field :nombre, :class=> "form-control" %>
		</div>
  		<button type="submit" class="btn btn-success">Submit</button>
	<% end %>
</div>