<ul class="nav nav-tabs">
	<li class="active"><a data-toggle="tab" href="#home"><h3>Iglesias</h3></a></li>
</ul>
<div class="tab-content">
	<button type="button" class="btn btn-primary" onclick="window.location = '<%= new_iglesia_path %>'">Nuevo</button>
	<table class="table table-striped">
		<thead>
		  <tr>
			<th>Nombre</th>
			<th>Distrito</th>
		  </tr>
		</thead>
		<tbody>
			<% @iglesias.each_with_index do |c, index| %>
				<% if (index == 0) or (index > 0 and @iglesias[index - 1].zona_id != c.zona_id) %>
					<% zona = Zona.find(c.zona_id) %>
					<tr><td colspan = "2" class = "mt-2"></td></tr>
					<tr class = "bg-info text-white">
						<td><h3><b><%= zona.nombre %></b></h3></td>
						<td><%= zona.accessUser %></td>
					</tr>
					<tr><td colspan = "2" class = "mb-2"></td></tr>
				<% end %>
				<% if (index == 0) or (index > 0 and @iglesias[index - 1].distrito_id != c.distrito_id) %>
					<% begin %>
						<% distrito = Distrito.find(c.distrito_id) %>
						<tr><td colspan = "2" class = "mt-2"></td></tr>
						<tr class = "bg-warning text-black"><td colspan = "2"><b><%= "Distrito: #{distrito.nombre}" %></b></td></tr>
						<tr><td colspan = "2" class = "mb-2"></td></tr>
					<% rescue %>
					<% end %>
				<% end %>
				<tr>
					<td><%= link_to c.nombre, edit_iglesia_path(c.id) %></td>
					<% begin %>
					<td><%= c.distrito_nombre %></td>
					<% rescue %>
					<% end %>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>


<script>
	function generateZoneUser(btn, zone_id){
		data_object = { service: 'GenerateZoneUser', zone_id: zone_id };
		$.ajax({
			type: "GET",
			url: "/services_broker/show",
			data: data_object,
			success: (res) => {
				if(res.valid){
					$(btn).removeClass("btn-secondary");
					$(btn).addClass("btn-success");
					$(btn).html('Ver Usuario')
					alert("Usuario Generado");
				} else {
					alert(`login: ${res.user} \npassword: ${res.password}`)
				}
			}
		});
	}

	function viewUser(user, password){
		alert(`login: ${user} \npassword: ${password}`)
	}
</script>