<!DOCTYPE html>
<html>
	<head>
	  <title>Deboxional Manager</title>
		<%= javascript_include_tag "application" %>
		<%= stylesheet_link_tag "bootstrap" %>
		<%= javascript_include_tag "bootstrap" %>
		<%= stylesheet_link_tag "navbar-static-top" %>
		<%= stylesheet_link_tag "bootstrap-glyphicons" %>
		<%= stylesheet_link_tag "sticky-footer" %>
		<%= stylesheet_link_tag "w3" %>
		<%= stylesheet_link_tag "w3-theme-light-blue" %>
		<%= csrf_meta_tags %>
		<%= render 'layouts/header' %>
	</head>
	<body>
		<%= yield %>
	</body>
	<%= render 'layouts/footer' %>
</html>
<div id = "myDivMensajes"></div>
<script>
	function despliega_aviso(ptitle, pmessage)
	{
		var dataString = 'titulo='+ptitle+'&mensaje='+pmessage;
		$.ajax(
		{
			type: 'GET',
			url: "/mensajesdisplay/show",  
			data: dataString  
		});
	}
	$('.datepicker').datepicker({
		format: 'mm/dd/yyyy',
		startDate: '-3d'
	});
</script>
<div id="myModal" class="modal fade" role="dialog"></div>
<div class="modal fade" id = "myModal2" role="dialog">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div id = "headerModal" class= "modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title"><span id = "headerMessageModal"></span></h4>
			</div>
			<div class="modal-body">
				<p><span id = "bodyMessageModal"></span></p></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal"><%= t(:cerrar) %></button>
				</div>
			</div>
		</div>
	</div>
</div>
	
